h6 {
    color: #091133;
    text-align: left;
    /*background-color: black;*/

    font-family: Roboto;
    font-style: Medium;
    font-size: 16px;
 }

 h4 {
    color: #091133;
    text-align: left;
    /*background-color: black;*/

    font-family: Roboto;
    font-style: Medium; 
    font-size: 36px;
 }

 h2 {
    color: #091133;
    text-align: left;
    /*background-color: black;*/

    font-family: Roboto;
    font-style: Medium;
    font-size: 50px;
 }

 #container05 {
   background-color:#E7ECFF;
   fill-opacity: 50%;
 }

 #container06 {
   background-color: #E7ECFF;

 }

 .container {
   display: flex;
   align-items: center;
 }

 div {
   border: 1px solid;
   margin: 1px;
   padding: 2px;
   border-color: black;
 }
