/*General style Design Properties*/
body{
  padding: 20px;
  padding-top: 5px;
  font-family: Roboto;
  font-style: Medium;
  font-size: 12px;
}

h6 {
    color: #091133;
    text-align: left;  
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 h4 {
    color: #091133;
    text-align: left;
    font-size: 36px;
    margin-bottom: 10px;
 }

 h2 {
    color: #091133;
    text-align: left;
    font-size: 50px;
    margin-bottom: 10px;
 }

 a {
  text-decoration : none;
}

 button {
  color: var(--colour-secondary-white-100-general, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;

  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
 }


 /*-----------  spefic Style Design Properties  ----------*/

 #container01 {
  background-color:#E7ECFF;
  position: absolute;
  
  width: 100%;
  height: 60px;
} 

#container02 {
  position: absolute;
  top: 80px;
  margin-top: 2px;
  width: 100%;
  
  /*height: 400px;*/
} 

#container021 {
  width: 50%;
}

.container022 {
  background-image: url(images/Path.svg);
  background-color:#E7ECFF;
  margin-left: 25px;
}

#container03 {
  position: absolute;
  top: 900px;
  width: 100%;
  height: 742px;
  background-color: #FFFFFF;
} 

.container032 {
  display: flex;
  align-items:start;
  padding-top: 15px;
  
}

.container0321 {
 padding-left: 10px;
 margin-right: 0px;

}

.container0322 {
  padding-left: 10px;
  padding-right: 10px;
 
 }
 
#container04 {
  position: absolute;
  top: 1652px;
  width: 100%;
  height: 820px;

  background-color:#FFFFFF;
} 

#container04x{
  margin-right: 25px;
  margin-top: 25px;
}

 #container05 {
  background-color:#E7ECFF;
  background-image: url(images/Rectangle.svg);
  
   width: 100%;
   height: 400px;

   position: absolute;
   top: 2900px;
   text-align: center;
   align-content: center;
 }

 #container06 {
   background-color:#E7ECFF;

   width: 100%;
   height: 150px;
   
   position: absolute;
   top: 3150px;
   margin-bottom: 10px;
 }
 
 .container {
   display: flex;
   align-items: center;
   padding: 10px;
   padding-left: 50px;
   padding-right: 50px;
 }

 .line {
  width :1110px;
  height: 1px;
  top:150px;
  left:165px;
  margin: 50px;
  background-color: #CDD1D4;
 }

 .SocalMedia img {
  margin-right: 30px;
 }

 .keeping_space {
  width: 900px;
 }

.links {
  font-family: roboto;
  font-size: 14px;
  color: #505F98;

  margin: 5px;
}

.purchase {
  width: 160px;
  height: 26px;

  background-color: #222F65;

  font-size: 18px;
  color:#E7ECFF;
}

.buyNow{
  width: 160px;
  height: 26px;
  top: 18px;
  left: 1115px;
  background-color: #222F65;

  position: absolute;
  text-align: center;
  font-size: 18px;
  color:#E7ECFF;
}
.blueButton{
  width: 160px;
  height: 26px;
  top:550px;
  left: 60px;
  background-color: #222F65;

  position: absolute;
  text-align: center;
  font-size: 14px;
  color:#E7ECFF;
}

.whiteButton{
  width: 160px;
  height: 26px;
  top: 550px;
  left: 250px;
  background-color: #E7ECFF;

  position: absolute;
  text-align: center;
  font-size: 14px;
  color:#222F65;

  border: #091133 1px solid; 
}



div1 {
  border: 1px solid;
  margin: 1px;
  padding: 2px;
  border-color: black;
}
